*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul{
    display: flex;
    justify-content: space-between;
}

li{
    
    list-style: none;
    padding-right: 1vw;
    left: 12vw;
    top: 2vw;
}

.nav{
    
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left:10%;

}
.navlist{
    left: 34vw;
}
.nav h3{
    left: 43vw;
    border-top: 2vw;
    border-bottom: 1vw;
}

.head{
    font-size: 4vw;
    margin-left: 8vw;
    margin-top: 4vw;
}
#pro{
    color:rgb(108, 104, 104);
}
.hrr #hr{
    color: rebeccapurple;
}

.images{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-content: center;
    gap: 2.5vw;
    margin-top: 2vw;
}

.secimg{
    position: relative;
    display: grid;
    grid-template-rows: auto auto;
    gap: 2vw;
    margin-top: 6vw;
    margin-left: 25vw;

}
form p {
    font-size: 4vw;
}
form input{
    width: 22vw;
    margin-left: 4vw;
}

#thirdimg{
    position: relative;
   
    height: 20vw;
    width: 15vw;
    margin-left: 47vw;
    margin-bottom: 3vw;
    top: -21vw;
}

img #small{
    float: left;
}


  
.contain{
    position: relative;
    top: -40vw;
    left: 65vw;
}
.contain #bread{
    top: -2vw;

}
button{
    top: 2vw;
    margin-bottom: 4vw;
}
#home{
    border-top: .1vw solid black;
    border-bottom: .1vw solid black;
    height: 1vw;
}